body {
  text-align: center;
  background: #f2b3f2;
}

.choose-symbol {
  font-size: 22px;
}

.button {
 padding: 8px; 
}

.tic-tac-toe-board {
  width: 640px;
  height: 480px;
  margin: 20px auto 0;  
}

.tic-tac-toe-field {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  width: 29%;
  height: 140px;
  font-size: 7rem;
  background: blue;
  text-align: center;
  float: left;  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.fa.fa-7x {
  font-size: 7em;
}
